@import url(./fonts.css);

@media (min-width: 600px) {
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
        background: white;
    }

}

:root {
    --robotoFont: 'Roboto', cursive;
    --title-color: #141313;
    --gradient-logo: linear-gradient(to top left, #ffcc00 0%, #660066 100%);
    --gradient-color: linear-gradient(to top, #33ccff 0%, #9933ff 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}
@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-120vh);
        opacity: 0;
    }
}

html, body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header_area .main-menu .navbar {
    padding: 0 1rem;
}
.header_area .main-menu .navbar .navbar-nav li a > img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}
.header_area .main-menu .navbar .navbar-brand {
    background: var(--gradient-logo);
    font-weight: 500;
    font-size: xx-large;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding: 0 1.5rem 0 2rem;
}

.header_area .main-menu .navbar-nav {
    padding: .8rem 8rem 0 0;
}

.header_area .main-menu .nav-item .nav-link {
    font-size: 1.2rem;
    font-family: var(--robotoFont);
    text-transform: uppercase;
    padding: 0 1rem .2rem 4rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
    font-weight: revert;
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/*.site-main .site-banner {*/
/*    background: url(../photos/undraw_web_developer_p3e5.png) no-repeat 0% 50%;*/
/*}*/
.site-main{
    padding-top: .9rem;
}
.site-main .site-banner .site-title h3 {
    padding-top: 20%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after { /*Black line*/
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h2 {
    font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
    margin-left: 2%;
    padding: 5rem .5rem;
    width: 30rem;
    height: 30rem;
}

.button {
    padding: .6rem 1.5rem;
    margin-top: 3%;
    font: normal var(--robotoFont);
    font-weight: 500;
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button.secondary-button::after {
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: linear-gradient(to top left, #66ffff 0%, #0099cc 100%);
    content: ' ';
    z-index: -1;
    border-radius: 12px;
}

.button.secondary-button {
    background: white;
    background-clip: padding-box;
    transition: background .6s ease;
}

.button.secondary-button:hover {
    background: linear-gradient(to top left, #66ffff 0%, #66ffcc 100%);
    color: whitesmoke;
    box-shadow: var(--gradient-color);
}

.carousel{
    object-fit: cover;
    margin: auto;
    width: auto;
}
.carousel .carousel-item > img {
    max-height: 30rem;
}

.carousel-photo img {
    object-fit: cover;
    min-height: 300px;

}

.site-main .about-area{
    padding: 4rem 2rem;
}
.site-main .about-area .about-image{
    padding: 2.5rem 0;
}
.site-main .about-area .about-title h2 > span{
    display: inline-block;
    font: normal bold var(--robotoFont);
    font-size: 3rem;
    letter-spacing: .3rem;
}
.site-main .about-area .about-title .paragraph > p{
    padding: .8rem 0;
    font-size: 1.25em;
}
.cards{
    background: url("../photos/bubbles.jpeg") no-repeat;
    background-size:cover;
    padding: 3rem 0;
}
.cards .card {
    margin: auto;
    max-width: 90vh;
}
.cards .card .btn-primary{
    padding: 1% 3.6%;
    margin: 1% 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg,#755bea,#ff72c0);
}

.cards .card .carousel-item > img{
    min-height: 42vh;
}
.cards .bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;

}
.cards .bubbles > img{
    z-index: 2;
    width: 50px;
    height: 50px;
    animation: bubble 7s linear infinite;
}
.cards .bubbles > img:nth-child(1){
    animation-delay: 2s;
}
.cards .bubbles > img:nth-child(2){
    animation-delay: 1s;
}
.cards .bubbles > img:nth-child(3){
    animation-delay: 3s;
}
.cards .bubbles > img:nth-child(4){
    animation-delay: 4.5s;
}
.cards .bubbles > img:nth-child(5){
    animation-delay: 3s;
}
.cards .bubbles > img:nth-child(6){
    animation-delay: 6s;
}
.cards .bubbles > img:nth-child(7){
    animation-delay: 2s;
}