@import url(../fonts.css);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@media (min-width: 600px) {
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    background: white;
  }
}

@media (max-width: 600px) {
  #mainTitle {
    margin-left: 17%;
  }

  .card, footer, #listOfStudentsInCourseInYear {
    margin-left: 40%;
  }

  #averageForCourseInYear_course, #averageForCourseInYear_year {
    margin-left: 30%;
  }

  #studentAverageInYear_name, #studentAverageInYear_year {
    margin-left: 30%;

  }

  .list-group a {
    margin-left: 20%;
    width: 12em;

  }
  #ListOfStudentsInChosenYearAndCourse table{
    margin: auto;
    padding: 0;
  }
  #noStudentsAlert {
    width: 90%;
    margin-left: 3%;
  }
  .card img{
    width: 90%;
    height: auto;
  }
  #courseNotExistInThisYear, #notStudyAlert {
    width: 90%;
    margin-left: 28%;;
  }

  #titleForFirstFeature_id, #studentAverageInYear_title, #averageForCourseInYear_title, #averageInYear, #averageCourseInYear_div {
    margin-left: 40%;
  }

  #titleForFirstFeature_img, #studentAverageInYear_img, #averageForCourseInYear_img {
    margin-left: 40%;
    width: 100%;
    height: auto;
  }

}

:root {
  --robotoFont: 'Roboto', cursive;
  --title-color: #141313;
  --gradient-logo: linear-gradient(to top left, #ffcc00 0%, #660066 100%);
  --gradient-color: linear-gradient(to top, #33ccff 0%, #9933ff 100%);
  --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

html, body {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
  align-content: center;
  text-align: center;
  justify-content: center;

}

.header_area .main-menu .navbar {
  padding: 0 1rem;
}

.header_area .main-menu .navbar .navbar-nav li a > img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

.header_area .main-menu .navbar .navbar-brand {
  background: var(--gradient-logo);
  font-weight: 500;
  font-size: xx-large;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 0 1.5rem 0 6rem;
}

.header_area .main-menu .navbar-nav {
  padding: .8rem 0rem 0 0;
}

.header_area .main-menu .nav-item .nav-link {
  font-size: 1.2rem;
  font-family: var(--robotoFont);
  text-transform: uppercase;
  padding: 0 1rem .2rem 4rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
  font-weight: revert;
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.projectsIntro {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: montserrat, sans-serif;
}

#mainTitle {
  margin-top: 3%;
  font-family: "Montserrat";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 15vh;
  letter-spacing: 1px;
}

#mainTitle > p {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 5em;
  line-height: .75;
  margin: 1% auto;
}

.table-responsive table {
  margin: auto;
  width: 70%;
}

table, th, td {
  border-collapse: collapse;
  max-width: 5%;
}

.optionsFeatures {

  position: relative;
}

.card .card-body img {
  width: 40%;
  height: auto;
}

.titleForFirstFeature img {
  width: 30%;
  height: auto;
}

.list-group {
  width: 50%;
  margin: auto;
}

.list-group a {
  position: relative;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 800;
  color: royalblue;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(midnightblue), color-stop(50%, midnightblue), color-stop(50%, royalblue));
  background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
  text-decoration: none;
}

.list-group a:hover {
  background-position: 0 100%;
}

.titleForFirstFeature {
  font-size: 3em;
  text-transform: uppercase;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid #777;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

#titleForFirstFeature_img, #studentAverageInYear_img, #averageForCourseInYear_img {
  width: 50%;
  height: auto;
}

#studentAverageInYear_title {
  font-size: 3em;
  text-transform: uppercase;
  background: linear-gradient(to right, #43c6ac, #f8ffae);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#averageForCourseInYear_title {
  font-size: 3em;
  text-transform: uppercase;
  background: linear-gradient(to right, #3494e6, #ec6ead);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.studentsInYear, .alert {
  width: 30%;
  margin: auto;
}

#ListOfStudentsInChosenYearAndCourse {
  width: 70%;
  margin: auto;
}

.studentGradeInChosenYear {
  width: 50%;
  margin: auto;
}